<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>David's blog</title>
        <link rel="shortcut icon" href="static/home/favicon.ico">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="static/home/css/bootstrap.css">
        <link rel="stylesheet" href="static/home/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="static/home/css/custom-styles.css">
        <link rel="stylesheet" href="static/home/css/font-awesome.css">
        <link rel="stylesheet" href="static/home/css/font-awesome-ie7.css">

        <script src="static/home/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script type="text/javascript" src="static/home/js/main.js"></script>
    </head>
    <body>
        <div id="loading">
        <div id="loading-center">
        <div id="loading-center-absolute-one">
        <div class="object-one"></div>
        <div class="object-one"></div>
        <div class="object-one"></div>
        <div class="object-one"></div>
        <div class="object-one"></div>
        <div class="object-one"></div>

        </div>
        <div id="loading-center-absolute-two">
        <div class="object-two"></div>
        <div class="object-two"></div>
        <div class="object-two"></div>
        <div class="object-two"></div>
        <div class="object-two"></div>
        <div class="object-two"></div>

        </div>
        </div>

        </div>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
	<div class="ALL">
        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
            <div class="header-wrapper">
                <div class="site-header">
                    <div class="container">
                        <a href="/"> <div class="site-name">
                            <h1>DavidPenott</h1>
                        </div></a>
                    </div>
                    <div class="container">
                        <div class="menu">
                            <div class="navbar">
                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                    <i class="fw-icon-th-list"></i>
                                </a>
                                <div class="nav-collapse collapse">
                                    <ul class="nav">
                                        <li class="active"><a href="#">Home</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="https://github.com/d4v1d41">My Github</a></li>
                                        <li><a href="mailto:alejandropenott@outlook.com">Contact</a></li>
                                    </ul>
                                </div><!--/.nav-collapse -->
                            </div>
                            <div class="mini-menu">
            <label>
          <select class="selectnav" id="foo">
            <option value="#" selected="">Home</option>
            <option value="mailto:alejandropenott@outlook.com">About</option>
            <option value="mailto:alejandropenott@outlook.com">Services</option>
            <option value="https://github.com/d4v1d41">My Github</option></a>
            <option value="#">Contact</option>
          </select>
              <script>
                    document.getElementById("foo").onchange = function() {
                        if (this.selectedIndex!==0) {
                            window.location.href = this.value;
                        }
                    };
            </script>
          </label>
          </div>
                        </div>
                    </div>

                </div>
                <div class="container">
                <div class="banner">
                    <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item">
                                <img src="static/home/img/banner-image.png" alt="">
                                <div class="carousel-caption">
                                    <h1>David Penott</h1>
                                    <h2>Computer Engineering Student</h2>
                                  <a href="#" class="btn">Python Developer</a>
                                </div>
                            </div>
                            <div class="item">
                                <img src="static/home/img/banner-image2.png" alt="">
                                <div class="carousel-caption">
                                  <h1>David Penott</h1>
                                    <h2>Powered by Django</h2>
                                  <a href="#" class="btn">Computer Engineering Student</a>
                                </div>
                            </div>
                            <div class="item active">
                                <img src="static/home/img/banner-image3.png" alt="">
                                <div class="carousel-caption">
                                  <h1>David Penott</h1>
                                    <h2>Computer Engineering Student</h2>
                                  <a href="#" class="btn">Ethical Hacking</a>
                                </div>
                            </div>
                        </div>
                        <a data-slide="prev" href="#myCarousel" class="carousel-control left"><i class="fw-icon-chevron-left"></i></a>
                        <a data-slide="next" href="#myCarousel" class="carousel-control right"><i class="fw-icon-chevron-right"></i></a>
                    </div>
                </div>
                </div>
            </div>
            <div class="container">
                <div class="featured-blocks">
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="block v-divider border">
                                <i class="fw-icon-download"></i>
                                <h1>Download Résumé</h1>
                                <p class="last"><a href="https://mega.nz/#F!R5FHXaYB!3TgsLumY8SdhS-75wVZgQQ">Here</a></p>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="block v-divider border">
                                <i class="fw-icon-facebook-sign"></i>
                                <h1>Profile</h1>
                                <p class="last"><a href="https://facebook.com/DavidPenottr">Here</a></p>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="block v-divider border">
                                <i class="fw-icon-instagram"></i>
                                <h1>My photos</h1>
                                <p class="last"><a href="https://www.instagram.com/viewsofamadman">Here</a> or <a href="https://www.instagram.com/davidpenott">here</a></p>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="block no-border">
                                <i class="fw-icon-comments-alt"></i>
                                <h1>Contact</h1>
                                <p class="last"><a href="mailto:alejandropenott@gmail.com">Send email</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                    <div class="row-fluid">
                        <div class="span9">
                            <div class="row-fluid">{% for post in posts %}
                                <div class="span4">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="general-posts">
                                                <div class="user-info">
                                                    <h1>{{ post.title }}</h1>
                                                    <img src="{{ MEDIA_URL }}{{ post.image_for_preview.url }}" alt="" class="image-spacing">
                                                    <p class="no-space">{{ post.text|linebreaksbr|truncatechars:66 }}</p>
                                                 </div>
                                                 <div class="read-more">
                                                    <a href="{% url 'home:detail' post.id %}">read more <i class="fw-icon-arrow-right"></i></a>
                                                 </div>
                                            </div>
                                        </div>
                                    </div>


                                </div> {% endfor %}
                            </div>
                        </div>


                        <div class="span3">
                            <div class="sidebar">
                                <h1>search</h1>
                                <div class="input-append">
  <input class="span12" id="appendedInput" type="text">
  <span class="add-on"><i class="fw-icon-search"></i></span>
</div>


                            </div>
                            <div class="sidebar">
                                <h1>Skills</h1>
                                <ul>
                                    <li><a href="#">Python</a></li>
                                    <li><a href="#">Reverse Engineering</a></li>
                                    <li><a href="#">Logical ideas</a></li>
                                    <li><a href="#">Web-Development</a></li>
                                    <li><a href="#">Ethical Hacking</a></li>
                                    <li class="no-border"><a href="#">I speak Spanish and English. I'm learning Chinese.</a></li>
                                </ul>
                            </div>
                            <div class="sidebar no-space">
                                <h1>Experience</h1>
                                <div class="sidebar-posts">
                                    <i class="fw-icon-desktop"></i>
                                    <h1>IT - Developer</h1>
                                    <p>|Software - Web| Developer and set up of computers and network. SabueS.O.S - Santiago, Chile 2016</p>
                                </div>
                                <div class="sidebar-posts">
                                    <i class="fw-icon-linux"></i>
                                    <h1>Python Developer for Script</h1>
                                    <p>Freelance. Upwork - 2016</p>
                                </div>
                                <div class="sidebar-posts no-border">
                                    <i class="fw-icon-windows"></i>
                                    <h1>Technical Support</h1>
                                    <p>Setting up networks, technical support for customers and troubleshooting. Wifi Las Isletas - 2014</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="footer-wrapper">
                <div class="container">
                    <div class="footer-links">
                        <div class="row-fluid">
                            <div class="span3">
                                <div class="copy-rights">
                                    <span>Copyright (c) 2017</span><br>All rights reserved.
                               </div>
                            </div>
                            <div class="span3">
                                <div class="copy-rights">
                                    <span>Designed by: </span><br><a href="/">David Ramos Penott</a>
                               </div>
                            </div>
                            <div class="span3">
                                <div class="copy-rights">
                                    <span>Images From:  </span><br>
                                    <a href="http://www.instragram.com/viewsofamadman">Views of a Mad Man </a>| <a href="http://www.instagram.com/gustavob97">Gustavo Behrens</a>
                               </div>
                            </div>
                            <div class="span3">
                                <div class="copy-rights">
                                    <span>Contact  </span><br>
                                    <a href="#">alejandropenott@gmail.com</a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="site-footer">
                        <div class="row-fluid">
                        <div class="social span3">
                            <ul>
                                <li><a href="https://www.facebook.com/DavidPenottr"><i class="fw-icon-facebook-sign"></i></a></li>
                                <li><a href="https://www.twitter.com/justdavidpr"><i class="fw-icon-twitter-sign"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/david-ramos-penott-05a472133/"><i class="fw-icon-linkedin-sign"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/david-ramos-penott-05a472133/"><i class="fw-icon-pinterest-sign"></i></a></li>
                                <li><a href="mailto:alejandropenott@gmail.com"><i class="fw-icon-phone-sign"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer-menu span9">
                            <ul>
                                <li><a href="/">Home :: </a></li>
                                <li><a href="mailto:alejandropenott@gmail.com"> About :: </a></li>
                                <li><a href="mailto:alejandropenott@gmail.com"> Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

       <script src="static/home/js/jquery-1.9.1.js"></script>
<script src="static/home/js/bootstrap.js"></script>
<script>
$('#myCarousel').carousel({
    interval: 1800
});
</script>
</div>
    </body>
</html>
